

CONFIG PART = xc6slx25t-csg324-2;



NET "LED_FPGA" LOC = U17;
NET "MCU_ADR" LOC = H13;
NET "MCU_BUS[0]" LOC = N18;
NET "MCU_BUS[1]" LOC = N17;
NET "MCU_BUS[2]" LOC = M18;
NET "MCU_BUS[3]" LOC = L17;
NET "MCU_BUS[4]" LOC = L18;
NET "MCU_BUS[5]" LOC = K16;
NET "MCU_BUS[6]" LOC = U18;
NET "MCU_BUS[7]" LOC = T17;
NET "MCU_BUS[8]" LOC = T18;
NET "MCU_BUS[9]" LOC = P18;
NET "MCU_BUS[10]" LOC = P17;
NET "MCU_BUS[11]" LOC = K14;
NET "MCU_BUS[12]" LOC = G13;
NET "MCU_BUS[13]" LOC = J16;
NET "MCU_BUS[14]" LOC = F14;
NET "MCU_BUS[15]" LOC = F15;
NET "MCU_BUS[16]" LOC = C17;
NET "MCU_BUS[17]" LOC = C18;
NET "MCU_BUS[18]" LOC = D17;
NET "MCU_BUS[19]" LOC = D18;
NET "MCU_BUS[20]" LOC = E16;
NET "MCU_BUS[21]" LOC = E18;
NET "MCU_BUS[22]" LOC = F17;
NET "MCU_BUS[23]" LOC = F18;
NET "MCU_BUS[24]" LOC = F16;
NET "MCU_BUS[25]" LOC = G18;
NET "MCU_BUS[26]" LOC = G16;
NET "MCU_BUS[27]" LOC = H18;
NET "MCU_BUS[28]" LOC = H17;
NET "MCU_BUS[29]" LOC = J18;
NET "MCU_BUS[30]" LOC = K17;
NET "MCU_BUS[31]" LOC = K18;
NET "MCU_GENERAL_RESET" LOC = H15;
NET "MCU_OE" LOC = H14;
NET "MCU_SPI_CLK" LOC = U16;
NET "MCU_SPI_MISO" LOC = U15;
NET "MCU_SPI_MOSI" LOC = V16;
NET "MCU_SPI_NCS" LOC = V15;
NET "MCU_STROBE" LOC = H16;
NET "VRM_VID[0]" LOC = N7;
NET "VRM_VID[1]" LOC = P8;
NET "VRM_VID[2]" LOC = T6;
NET "VRM_VID[3]" LOC = V6;
NET "VRM_VID[4]" LOC = R7;
NET "VRM_VID[5]" LOC = T7;
NET "VRM_VID[6]" LOC = N6;
NET "VRM_VID[7]" LOC = P7;
NET "clk_main" LOC = K15;
NET "pcie_PERSTn" LOC = M11;


NET "LED_FPGA" IOSTANDARD = LVCMOS33;
NET "MCU_ADR" IOSTANDARD = LVCMOS33;
NET "MCU_BUS[0]" IOSTANDARD = LVCMOS33;
NET "MCU_BUS[1]" IOSTANDARD = LVCMOS33;
NET "MCU_BUS[2]" IOSTANDARD = LVCMOS33;
NET "MCU_BUS[3]" IOSTANDARD = LVCMOS33;
NET "MCU_BUS[4]" IOSTANDARD = LVCMOS33;
NET "MCU_BUS[5]" IOSTANDARD = LVCMOS33;
NET "MCU_BUS[6]" IOSTANDARD = LVCMOS33;
NET "MCU_BUS[7]" IOSTANDARD = LVCMOS33;
NET "MCU_BUS[8]" IOSTANDARD = LVCMOS33;
NET "MCU_BUS[9]" IOSTANDARD = LVCMOS33;
NET "MCU_BUS[10]" IOSTANDARD = LVCMOS33;
NET "MCU_BUS[11]" IOSTANDARD = LVCMOS33;
NET "MCU_BUS[12]" IOSTANDARD = LVCMOS33;
NET "MCU_BUS[13]" IOSTANDARD = LVCMOS33;
NET "MCU_BUS[14]" IOSTANDARD = LVCMOS33;
NET "MCU_BUS[15]" IOSTANDARD = LVCMOS33;
NET "MCU_BUS[16]" IOSTANDARD = LVCMOS33;
NET "MCU_BUS[17]" IOSTANDARD = LVCMOS33;
NET "MCU_BUS[18]" IOSTANDARD = LVCMOS33;
NET "MCU_BUS[19]" IOSTANDARD = LVCMOS33;
NET "MCU_BUS[20]" IOSTANDARD = LVCMOS33;
NET "MCU_BUS[21]" IOSTANDARD = LVCMOS33;
NET "MCU_BUS[22]" IOSTANDARD = LVCMOS33;
NET "MCU_BUS[23]" IOSTANDARD = LVCMOS33;
NET "MCU_BUS[24]" IOSTANDARD = LVCMOS33;
NET "MCU_BUS[25]" IOSTANDARD = LVCMOS33;
NET "MCU_BUS[26]" IOSTANDARD = LVCMOS33;
NET "MCU_BUS[27]" IOSTANDARD = LVCMOS33;
NET "MCU_BUS[28]" IOSTANDARD = LVCMOS33;
NET "MCU_BUS[29]" IOSTANDARD = LVCMOS33;
NET "MCU_BUS[30]" IOSTANDARD = LVCMOS33;
NET "MCU_BUS[31]" IOSTANDARD = LVCMOS33;
NET "MCU_GENERAL_RESET" IOSTANDARD = LVCMOS33;
NET "MCU_OE" IOSTANDARD = LVCMOS33;
NET "MCU_SPI_CLK" IOSTANDARD = LVCMOS33;
NET "MCU_SPI_MISO" IOSTANDARD = LVCMOS33;
NET "MCU_SPI_MOSI" IOSTANDARD = LVCMOS33;
NET "MCU_SPI_NCS" IOSTANDARD = LVCMOS33;
NET "MCU_STROBE" IOSTANDARD = LVCMOS33;
NET "VRM_VID[0]" IOSTANDARD = LVCMOS33;
NET "VRM_VID[1]" IOSTANDARD = LVCMOS33;
NET "VRM_VID[2]" IOSTANDARD = LVCMOS33;
NET "VRM_VID[3]" IOSTANDARD = LVCMOS33;
NET "VRM_VID[4]" IOSTANDARD = LVCMOS33;
NET "VRM_VID[5]" IOSTANDARD = LVCMOS33;
NET "VRM_VID[6]" IOSTANDARD = LVCMOS33;
NET "VRM_VID[7]" IOSTANDARD = LVCMOS33;
NET "asic_spi_clock[0]" IOSTANDARD = LVCMOS18;
NET "asic_spi_clock[0]" SLEW = FAST;
NET "asic_spi_clock[1]" IOSTANDARD = LVCMOS18;
NET "asic_spi_clock[1]" SLEW = FAST;
NET "asic_spi_clock[2]" IOSTANDARD = LVCMOS18;
NET "asic_spi_clock[2]" SLEW = FAST;
NET "asic_spi_clock[3]" IOSTANDARD = LVCMOS18;
NET "asic_spi_clock[3]" SLEW = FAST;
NET "asic_spi_clock[4]" IOSTANDARD = LVCMOS18;
NET "asic_spi_clock[4]" SLEW = FAST;
NET "asic_spi_clock[5]" IOSTANDARD = LVCMOS18;
NET "asic_spi_clock[5]" SLEW = FAST;
NET "asic_spi_clock[6]" IOSTANDARD = LVCMOS18;
NET "asic_spi_clock[6]" SLEW = FAST;
NET "asic_spi_clock[7]" IOSTANDARD = LVCMOS18;
NET "asic_spi_clock[7]" SLEW = FAST;
NET "asic_spi_clock[8]" IOSTANDARD = LVCMOS18;
NET "asic_spi_clock[8]" SLEW = FAST;
NET "asic_spi_clock[9]" IOSTANDARD = LVCMOS18;
NET "asic_spi_clock[9]" SLEW = FAST;
NET "asic_spi_clock[10]" IOSTANDARD = LVCMOS18;
NET "asic_spi_clock[10]" SLEW = FAST;
NET "asic_spi_clock[11]" IOSTANDARD = LVCMOS18;
NET "asic_spi_clock[11]" SLEW = FAST;
NET "asic_spi_clock[12]" IOSTANDARD = LVCMOS18;
NET "asic_spi_clock[12]" SLEW = FAST;
NET "asic_spi_clock[13]" IOSTANDARD = LVCMOS18;
NET "asic_spi_clock[13]" SLEW = FAST;
NET "asic_spi_clock[14]" IOSTANDARD = LVCMOS18;
NET "asic_spi_clock[14]" SLEW = FAST;
NET "asic_spi_clock[15]" IOSTANDARD = LVCMOS18;
NET "asic_spi_clock[15]" SLEW = FAST;
NET "asic_spi_cs[0]" IOSTANDARD = LVCMOS18;
NET "asic_spi_cs[0]" SLEW = FAST;
NET "asic_spi_cs[1]" IOSTANDARD = LVCMOS18;
NET "asic_spi_cs[1]" SLEW = FAST;
NET "asic_spi_cs[2]" IOSTANDARD = LVCMOS18;
NET "asic_spi_cs[2]" SLEW = FAST;
NET "asic_spi_cs[3]" IOSTANDARD = LVCMOS18;
NET "asic_spi_cs[3]" SLEW = FAST;
NET "asic_spi_cs[4]" IOSTANDARD = LVCMOS18;
NET "asic_spi_cs[4]" SLEW = FAST;
NET "asic_spi_cs[5]" IOSTANDARD = LVCMOS18;
NET "asic_spi_cs[5]" SLEW = FAST;
NET "asic_spi_cs[6]" IOSTANDARD = LVCMOS18;
NET "asic_spi_cs[6]" SLEW = FAST;
NET "asic_spi_cs[7]" IOSTANDARD = LVCMOS18;
NET "asic_spi_cs[7]" SLEW = FAST;
NET "asic_spi_cs[8]" IOSTANDARD = LVCMOS18;
NET "asic_spi_cs[8]" SLEW = FAST;
NET "asic_spi_cs[9]" IOSTANDARD = LVCMOS18;
NET "asic_spi_cs[9]" SLEW = FAST;
NET "asic_spi_cs[10]" IOSTANDARD = LVCMOS18;
NET "asic_spi_cs[10]" SLEW = FAST;
NET "asic_spi_cs[11]" IOSTANDARD = LVCMOS18;
NET "asic_spi_cs[11]" SLEW = FAST;
NET "asic_spi_cs[12]" IOSTANDARD = LVCMOS18;
NET "asic_spi_cs[12]" SLEW = FAST;
NET "asic_spi_cs[13]" IOSTANDARD = LVCMOS18;
NET "asic_spi_cs[13]" SLEW = FAST;
NET "asic_spi_cs[14]" IOSTANDARD = LVCMOS18;
NET "asic_spi_cs[14]" SLEW = FAST;
NET "asic_spi_cs[15]" IOSTANDARD = LVCMOS18;
NET "asic_spi_cs[15]" SLEW = FAST;
NET "asic_spi_miso[0]" IOSTANDARD = LVCMOS18;
NET "asic_spi_miso[0]" SLEW = FAST;
NET "asic_spi_miso[1]" IOSTANDARD = LVCMOS18;
NET "asic_spi_miso[1]" SLEW = FAST;
NET "asic_spi_miso[2]" IOSTANDARD = LVCMOS18;
NET "asic_spi_miso[2]" SLEW = FAST;
NET "asic_spi_miso[3]" IOSTANDARD = LVCMOS18;
NET "asic_spi_miso[3]" SLEW = FAST;
NET "asic_spi_miso[4]" IOSTANDARD = LVCMOS18;
NET "asic_spi_miso[4]" SLEW = FAST;
NET "asic_spi_miso[5]" IOSTANDARD = LVCMOS18;
NET "asic_spi_miso[5]" SLEW = FAST;
NET "asic_spi_miso[6]" IOSTANDARD = LVCMOS18;
NET "asic_spi_miso[6]" SLEW = FAST;
NET "asic_spi_miso[7]" IOSTANDARD = LVCMOS18;
NET "asic_spi_miso[7]" SLEW = FAST;
NET "asic_spi_miso[8]" IOSTANDARD = LVCMOS18;
NET "asic_spi_miso[8]" SLEW = FAST;
NET "asic_spi_miso[9]" IOSTANDARD = LVCMOS18;
NET "asic_spi_miso[9]" SLEW = FAST;
NET "asic_spi_miso[10]" IOSTANDARD = LVCMOS18;
NET "asic_spi_miso[10]" SLEW = FAST;
NET "asic_spi_miso[11]" IOSTANDARD = LVCMOS18;
NET "asic_spi_miso[11]" SLEW = FAST;
NET "asic_spi_miso[12]" IOSTANDARD = LVCMOS18;
NET "asic_spi_miso[12]" SLEW = FAST;
NET "asic_spi_miso[13]" IOSTANDARD = LVCMOS18;
NET "asic_spi_miso[13]" SLEW = FAST;
NET "asic_spi_miso[14]" IOSTANDARD = LVCMOS18;
NET "asic_spi_miso[14]" SLEW = FAST;
NET "asic_spi_miso[15]" IOSTANDARD = LVCMOS18;
NET "asic_spi_miso[15]" SLEW = FAST;
NET "asic_spi_mosi[0]" IOSTANDARD = LVCMOS18;
NET "asic_spi_mosi[0]" SLEW = FAST;
NET "asic_spi_mosi[1]" IOSTANDARD = LVCMOS18;
NET "asic_spi_mosi[1]" SLEW = FAST;
NET "asic_spi_mosi[2]" IOSTANDARD = LVCMOS18;
NET "asic_spi_mosi[2]" SLEW = FAST;
NET "asic_spi_mosi[3]" IOSTANDARD = LVCMOS18;
NET "asic_spi_mosi[3]" SLEW = FAST;
NET "asic_spi_mosi[4]" IOSTANDARD = LVCMOS18;
NET "asic_spi_mosi[4]" SLEW = FAST;
NET "asic_spi_mosi[5]" IOSTANDARD = LVCMOS18;
NET "asic_spi_mosi[5]" SLEW = FAST;
NET "asic_spi_mosi[6]" IOSTANDARD = LVCMOS18;
NET "asic_spi_mosi[6]" SLEW = FAST;
NET "asic_spi_mosi[7]" IOSTANDARD = LVCMOS18;
NET "asic_spi_mosi[7]" SLEW = FAST;
NET "asic_spi_mosi[8]" IOSTANDARD = LVCMOS18;
NET "asic_spi_mosi[8]" SLEW = FAST;
NET "asic_spi_mosi[9]" IOSTANDARD = LVCMOS18;
NET "asic_spi_mosi[9]" SLEW = FAST;
NET "asic_spi_mosi[10]" IOSTANDARD = LVCMOS18;
NET "asic_spi_mosi[10]" SLEW = FAST;
NET "asic_spi_mosi[11]" IOSTANDARD = LVCMOS18;
NET "asic_spi_mosi[11]" SLEW = FAST;
NET "asic_spi_mosi[12]" IOSTANDARD = LVCMOS18;
NET "asic_spi_mosi[12]" SLEW = FAST;
NET "asic_spi_mosi[13]" IOSTANDARD = LVCMOS18;
NET "asic_spi_mosi[13]" SLEW = FAST;
NET "asic_spi_mosi[14]" IOSTANDARD = LVCMOS18;
NET "asic_spi_mosi[14]" SLEW = FAST;
NET "asic_spi_mosi[15]" IOSTANDARD = LVCMOS18;
NET "asic_spi_mosi[15]" SLEW = FAST;
NET "clk_main" IOSTANDARD = LVCMOS33;
NET "pcie_PERSTn" IOSTANDARD = LVCMOS33;
NET "pcie_tx_n" SLEW = FAST;
NET "MCU_BUS[1]" DRIVE = 12;
NET "LED_FPGA" SLEW = FAST;
NET "MCU_ADR" SLEW = FAST;
NET "MCU_BUS[0]" SLEW = FAST;
NET "MCU_BUS[1]" SLEW = FAST;
NET "MCU_BUS[2]" SLEW = FAST;
NET "MCU_BUS[3]" SLEW = FAST;
NET "MCU_BUS[4]" SLEW = FAST;
NET "MCU_BUS[5]" SLEW = FAST;
NET "MCU_BUS[6]" SLEW = FAST;
NET "MCU_BUS[7]" SLEW = FAST;
NET "MCU_BUS[8]" SLEW = FAST;
NET "MCU_BUS[9]" SLEW = FAST;
NET "MCU_BUS[10]" SLEW = FAST;
NET "MCU_BUS[11]" SLEW = FAST;
NET "MCU_BUS[12]" SLEW = FAST;
NET "MCU_BUS[13]" SLEW = FAST;
NET "MCU_BUS[14]" SLEW = FAST;
NET "MCU_BUS[15]" SLEW = FAST;
NET "MCU_BUS[16]" SLEW = FAST;
NET "MCU_BUS[17]" SLEW = FAST;
NET "MCU_BUS[18]" SLEW = FAST;
NET "MCU_BUS[19]" SLEW = FAST;
NET "MCU_BUS[20]" SLEW = FAST;
NET "MCU_BUS[21]" SLEW = FAST;
NET "MCU_BUS[22]" SLEW = FAST;
NET "MCU_BUS[23]" SLEW = FAST;
NET "MCU_BUS[24]" SLEW = FAST;
NET "MCU_BUS[25]" SLEW = FAST;
NET "MCU_BUS[26]" SLEW = FAST;
NET "MCU_BUS[27]" SLEW = FAST;
NET "MCU_BUS[28]" SLEW = FAST;
NET "MCU_BUS[29]" SLEW = FAST;
NET "MCU_BUS[30]" SLEW = FAST;
NET "MCU_BUS[31]" SLEW = FAST;
NET "MCU_GENERAL_RESET" SLEW = FAST;
NET "MCU_OE" SLEW = FAST;
NET "MCU_SPI_CLK" SLEW = FAST;
NET "MCU_STROBE" SLEW = FAST;
NET "clk_main" SLEW = FAST;

NET "MCU_STROBE" CLOCK_DEDICATED_ROUTE = FALSE;
NET "pcie_refclk_p" LOC = B8;
NET "pcie_refclk_n" LOC = A8;

NET "pcie_rx_n" LOC = C5;
NET "pcie_rx_p" LOC = D5;
NET "pcie_tx_n" LOC = A4;
NET "pcie_tx_p" LOC = B4;



NET "FAN_CONTROL[0]" LOC = T12;
NET "FAN_CONTROL[1]" LOC = V12;
NET "FAN_CONTROL[2]" LOC = N10;
NET "FAN_CONTROL[3]" LOC = P11;


NET "FAN_CONTROL[0]" IOSTANDARD = LVTTL;
NET "FAN_CONTROL[1]" IOSTANDARD = LVTTL;
NET "FAN_CONTROL[2]" IOSTANDARD = LVTTL;
NET "FAN_CONTROL[3]" IOSTANDARD = LVTTL;
NET "VRM_clock[0]" IOSTANDARD = LVTTL;
NET "VRM_clock[1]" IOSTANDARD = LVTTL;
NET "VRM_clock[2]" IOSTANDARD = LVTTL;
NET "VRM_clock[3]" IOSTANDARD = LVTTL;
NET "VRM_clock[4]" IOSTANDARD = LVTTL;
NET "VRM_clock[5]" IOSTANDARD = LVTTL;
NET "VRM_clock[0]" DRIVE = 12;
NET "VRM_clock[2]" SLEW = SLOW;


NET "asic_PORB1" LOC = B3;
NET "asic_PORB2" LOC = A3;


NET "asic_PORB1" IOSTANDARD = LVCMOS18;
NET "asic_PORB2" IOSTANDARD = LVCMOS18;
NET "MCU_SPI_MISO" SLEW = FAST;
NET "MCU_SPI_MOSI" SLEW = FAST;


NET "asic_spi_clock[0]" LOC = B16;
NET "asic_spi_clock[1]" LOC = F12;
NET "asic_spi_clock[2]" LOC = F6;
NET "asic_spi_clock[3]" LOC = L2;
NET "asic_spi_clock[4]" LOC = N2;
NET "asic_spi_clock[5]" LOC = T2;
NET "asic_spi_clock[6]" LOC = L6;
NET "asic_spi_clock[7]" LOC = N4;
NET "asic_spi_clock[8]" LOC = L5;
NET "asic_spi_clock[9]" LOC = H2;
NET "asic_spi_clock[10]" LOC = L4;
NET "asic_spi_clock[11]" LOC = H7;
NET "asic_spi_clock[12]" LOC = F4;
NET "asic_spi_clock[13]" LOC = H6;
NET "asic_spi_clock[14]" LOC = J7;
NET "asic_spi_clock[15]" LOC = C2;
NET "asic_spi_cs[0]" LOC = D15;
NET "asic_spi_cs[1]" LOC = A15;
NET "asic_spi_cs[2]" LOC = K6;
NET "asic_spi_cs[3]" LOC = K1;
NET "asic_spi_cs[4]" LOC = M1;
NET "asic_spi_cs[5]" LOC = P1;
NET "asic_spi_cs[6]" LOC = U1;
NET "asic_spi_cs[7]" LOC = P3;
NET "asic_spi_cs[8]" LOC = H3;
NET "asic_spi_cs[9]" LOC = K3;
NET "asic_spi_cs[10]" LOC = J1;
NET "asic_spi_cs[11]" LOC = D3;
NET "asic_spi_cs[12]" LOC = D1;
NET "asic_spi_cs[13]" LOC = E1;
NET "asic_spi_cs[14]" LOC = F1;
NET "asic_spi_cs[15]" LOC = G1;
NET "asic_spi_miso[0]" LOC = A16;
NET "asic_spi_miso[1]" LOC = E12;
NET "asic_spi_miso[2]" LOC = F5;
NET "asic_spi_miso[3]" LOC = L1;
NET "asic_spi_miso[4]" LOC = N1;
NET "asic_spi_miso[5]" LOC = T1;
NET "asic_spi_miso[6]" LOC = M5;
NET "asic_spi_miso[7]" LOC = N3;
NET "asic_spi_miso[8]" LOC = K5;
NET "asic_spi_miso[9]" LOC = H1;
NET "asic_spi_miso[10]" LOC = L3;
NET "asic_spi_miso[11]" LOC = G6;
NET "asic_spi_miso[12]" LOC = F3;
NET "asic_spi_miso[13]" LOC = H5;
NET "asic_spi_miso[14]" LOC = J6;
NET "asic_spi_miso[15]" LOC = C1;
NET "asic_spi_mosi[0]" LOC = E14;
NET "asic_spi_mosi[1]" LOC = C15;
NET "asic_spi_mosi[2]" LOC = L7;
NET "asic_spi_mosi[3]" LOC = K2;
NET "asic_spi_mosi[4]" LOC = M3;
NET "asic_spi_mosi[5]" LOC = P2;
NET "asic_spi_mosi[6]" LOC = U2;
NET "asic_spi_mosi[7]" LOC = P4;
NET "asic_spi_mosi[8]" LOC = H4;
NET "asic_spi_mosi[9]" LOC = K4;
NET "asic_spi_mosi[10]" LOC = J3;
NET "asic_spi_mosi[11]" LOC = E4;
NET "asic_spi_mosi[12]" LOC = D2;
NET "asic_spi_mosi[13]" LOC = E3;
NET "asic_spi_mosi[14]" LOC = F2;
NET "asic_spi_mosi[15]" LOC = G3;


NET "asic_spi_clock[0]" DRIVE = 12;
NET "asic_spi_clock[1]" DRIVE = 12;
NET "asic_spi_clock[2]" DRIVE = 12;
NET "asic_spi_clock[3]" DRIVE = 12;
NET "asic_spi_clock[4]" DRIVE = 12;
NET "asic_spi_clock[5]" DRIVE = 12;
NET "asic_spi_clock[6]" DRIVE = 12;
NET "asic_spi_clock[7]" DRIVE = 12;
NET "asic_spi_clock[8]" DRIVE = 12;
NET "asic_spi_clock[9]" DRIVE = 12;
NET "asic_spi_clock[10]" DRIVE = 12;
NET "asic_spi_clock[11]" DRIVE = 12;
NET "asic_spi_clock[12]" DRIVE = 12;
NET "asic_spi_clock[13]" DRIVE = 12;
NET "asic_spi_clock[14]" DRIVE = 12;
NET "asic_spi_clock[15]" DRIVE = 12;

# PlanAhead Generated physical constraints 
NET "FAN_CONTROL_P[0]" LOC = M10;
NET "FAN_CONTROL_P[1]" LOC = N9;
NET "FAN_CONTROL_P[2]" LOC = U11;
NET "FAN_CONTROL_P[3]" LOC = V11;

# PlanAhead Generated IO constraints 
NET "FAN_CONTROL_P[0]" IOSTANDARD = LVTTL;
NET "FAN_CONTROL_P[1]" IOSTANDARD = LVTTL;
NET "FAN_CONTROL_P[2]" IOSTANDARD = LVTTL;
NET "FAN_CONTROL_P[3]" IOSTANDARD = LVTTL;

#Created by Constraints Editor (xc6slx25t-csg324-2) - 2014/06/13
NET "clk_main" TNM_NET = clk_main;
TIMESPEC TS_clk_main = PERIOD "clk_main" 20 ns HIGH 50%;

#Created by Constraints Editor (xc6slx25t-csg324-2) - 2014/06/23
NET "MCU_STROBE" TNM_NET = MCU_STROBE;
TIMESPEC TS_MCU_STROBE = PERIOD "MCU_STROBE" 18 ns HIGH 50%;

#Created by Constraints Editor (xc6slx25t-csg324-2) - 2014/06/23
NET "clk_16MHz" TNM_NET = clk_16MHz;
TIMESPEC TS_clk_16MHz = PERIOD "clk_16MHz" 50 ns HIGH 50%;
NET "MCU_OE" TNM_NET = MCU_OE;
TIMESPEC TS_MCU_OE = PERIOD "MCU_OE" 20 ns HIGH 50%;
NET "MCU_ADR" TNM_NET = MCU_ADR;
TIMESPEC TS_MCU_ADR = PERIOD "MCU_ADR" 20 ns HIGH 50%;
